/* Options page */

.options-content {
  width: 600px;
  overflow: hidden;
  padding: 10px 15px 10px 15px;
}

.error {
  color: #F00;
}

.success {
  color: #0F0;
}

.full-width {
  width: 100%;
}

.option-row {
  margin-bottom: 10px;
  width: 95%;
}

.option-row:last-of-type {
  margin-bottom: 0px;
}

#message {
  padding-left: 5px;
}

.footer-links  {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.footer-links > a + a {
  padding: 0 8px 0 8px;
}

/* About page */
.panel ul {
  padding-left: 20px;
}
