/* Save result */

#message {
  padding-left: 5px;
}

.error {
  color: #F00;
}

.success {
  color: #0F0;
}

/* Options body */

.full-width {
  width: 100%;
}

.options-content {
  overflow: hidden;
  padding: 10px 15px 10px 15px;
  width: 600px;
}

.option-row {
  margin-bottom: 10px;
  width: 95%;
}

.option-row:last-of-type {
  margin-bottom: 0px;
}

/* Footer links */

.footer-links  {
  bottom: 5px;
  position: absolute;
  right: 5px;
}

.footer-links > a + a {
  padding: 0 8px 0 8px;
}

/* About page */

.panel ul {
  padding-left: 20px;
}

/* Guide page */

.panel li + li {
  padding-top: 15px;
}
